<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QPacity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <QPacity.Properties.Settings>
            <setting name="CurrentPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PreviousPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PopUpOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoomArea" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RectangularWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RectangularLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CircularRadius" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomArea" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RoomShapeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Density" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="CapacityCap" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RestrictionLevelIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EventTypeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SeatingPlanIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BreachID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CodeID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultScannerStatus" serializeAs="String">
                <value>0</value>
            </setting>
        </QPacity.Properties.Settings>
    </userSettings>
</configuration>